.home {
  @big-string-size: 150%;
  @big-string-spacing: 5px;
  text-align: center;
  padding: 10% 20px;
  margin: 0 auto;
  font-family: arial, verdana;
  font-size: 120%;
  color: @font-color;
  max-width: 550px;

  .home-title {
    color: @highlight-color;
  }

  .home-sourceString {
    font-size: @big-string-size;
    letter-spacing: @big-string-spacing;
    margin: 20px;
    word-break: break-all;
  }

  .home-input {
    padding: 10px;
    font-size: @big-string-size;
    letter-spacing: @big-string-spacing;
    color: @highlight-color;
    text-align: center;
    border: 1px solid @font-color;
    outline: none;
    width: 80%;

    &.valid {
      border-color: @success-color;
    }

    &.invalid {
      border-color: @error-color;
    }
  }

  .home-realTimeSyntacticCheck {
    margin: 10px;
    font-size: 100%;
  }

  .home-submit {
    font-size: 150%;
    background-color: @highlight-color;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;

    &[disabled] {
      opacity: .5;
      cursor: default;
    }
  }

  .home-msg {

    &.valid {
      color: @success-color;
    }

    &.invalid {
      color: @error-color;
    }
  }
}